
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>COMP2084 - Lab 2</h2>

<p> This is my products section.</p>

<ul>
    <li>@Html.ActionLink("Laptop","Product","Products", new { ProductName = "Laptop" }, null)</li>
    <li>@Html.ActionLink("Tablet", "Product", "Products", new { ProductName = "Tablet" }, null)</li>
    <li>@Html.ActionLink("Desktop", "Product", "Products", new { ProductName = "Desktop" }, null)</li>
</ul>